<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel test suite" parallel="tests" thread-count="3">

    <listeners>
        <listener class-name="utils.ListenerTest"/>
    </listeners>

    <parameter name="myParam" value="This is the value for a parameter"/>
    <parameter name="browserName" value="chrome"/>
    <parameter name="implicitWaitInSeconds" value="30"/>

    <test name="Test1">
        <groups>
            <run>
                <include name="backend"/>
            </run>
        </groups>
        <classes>
            <class name="backend.SimpleIssueTest"/>
        </classes>
    </test>

</suite>