<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sample test suite">

    <listeners>
        <listener class-name="utils.ListenerTest"/>
    </listeners>

    <parameter name="myParam" value="This is the value for a parameter"/>
    <parameter name="browserName" value="safari"/>
    <parameter name="local" value="yes"/>
    <parameter name="implicitWaitInSeconds" value="30"/>

    <test name="UI Tests">
        <groups>
            <run>
                <include name="UI"/>
                <exclude name="SKIPP"/>
            </run>
        </groups>
        <classes>
            <class name="ui.RefactoredIssueTest"/>
        </classes>
    </test>

</suite>